# Ігнорування лог-файлів та каталогів
*.log
logs/

tmp/
temp/


node_modules/


dist/
build/


.DS_Store


.idea/
.vscode/
*.sublime-workspace


*.pem
*.cert
*.key


.env
.config.js


*.swp
*.swo
*.bak
*.tmp
*.temp
*.db
